@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}
body {
  font-family: "poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background: var(--dark);
  clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3S ease;
}
header nav .left a:hover {
  color: var(--primary);
}
header nav {
  padding: 2rem 0;
}
header nav .branding {
  margin-right: 3rem;
}
.hero{
  padding: 3rem 0;
}
.hero .left img{
  width: 400px;
  
}
.hero .right{
  color: var(--pure)
}
.hero .right h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.6rem;
}
.hero .right h1{
  font-size: 4rem;
    font-weight: 100;  
   line-height: 1.2 ;
   margin-bottom: 2rem;

}
.hero .right h1 span{
  color: var(--primary);
}
.hero .right  p {
  line-height: 1.9;
  margin-bottom: 2rem;
}
.hero .right{
  margin-top: 7rem;
}
section{
  padding: 6rem 0;
}
section .about .about-me-image{
   height: 450px; 
}
section .about h1{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;

}
section .about h1 span{
  color: var(--primary);
}
